body {

    color: white;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    margin-left: 800px;
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    background: linear-gradient(to left, #382673 50%, transparent 50%),
    url('background.jpg');
    background-size: cover;
    background-position: right bottom;
    overflow: hidden;

}

#logo{
    padding-left: 450px;
    margin-top: -700px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#truck{
    padding-right: 15px;
    color: #fff;
    width: 24px;
}

.container {
    background: #382673;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content inside */
    color: #382673;
    width: 552px;
    height: 66px;
    border-radius: 30px;

}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;

}

input {
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 30px;
}

button {
    width: 30vw;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: #fff;
    background: #9271FF;
    font-size: 1rem;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
        background: #6a50c3;
    }
}

input::placeholder {
    color: lightgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;

}

.error-message {
    margin-top: 10px;
    color: lightcoral;

    padding: 10px;

    text-align: center;
    font-weight: bold;
}

