<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Visite</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/employee.css" />
</head>
<body>
<nav>
    <div class="filter">
        <form action="/employee/sort" method="GET">
            <label><input class="calendar" type="date" name= "dateSort" id="date" ></label>

            <label>
                <button class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="" fill="none">
                        <path d="M17.5 17.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                    </svg>
                </button>
            </label>
        </form>
    </div>

    <div class="user">
        <form action="/employee/logout" method="post">
            <label>
                <button class="logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="" height="" color="" fill="none">
                        <path d="M15 17.625C14.9264 19.4769 13.3831 21.0494 11.3156 20.9988C10.8346 20.9871 10.2401 20.8194 9.05112 20.484C6.18961 19.6769 3.70555 18.3204 3.10956 15.2816C3 14.723 3 14.0944 3 12.8373L3 11.1627C3 9.90561 3 9.27704 3.10956 8.71845C3.70555 5.67963 6.18961 4.32314 9.05112 3.516C10.2401 3.18062 10.8346 3.01293 11.3156 3.00116C13.3831 2.95058 14.9264 4.52305 15 6.37499" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M10 12H21M10 12C10 11.2998 11.9943 9.99153 12.5 9.5M10 12C10 12.7002 11.9943 14.0085 12.5 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p>Logout</p>
                </button>
            </label>
        </form>
        <div class="texts">
            <p class="role">Dipendente</p>
            <p class="name">{nome}</p>
        </div>
        <div class="pfp-image"></div>
    </div>
</nav>

<section class="homepage">
    <div class="left-panel">
        <h2>Impegni Programmati</h2>
        <ul id="visitList">
            {#for x in visit}
                {#if today.isAfter(x.getLocalDate())}
                    <div class="visit visit-gone">
                        <p>{x.startTime} - {x.endTime}  {x.date} </p>
                    </div>
                {/if}

                {#if today.isBefore(x.getLocalDate())}
                    <div class="visit">
                        <p>{x}</p>
                    </div>
                {/if}
            {/for}
        </ul>
    </div>

    <div class="right-panel">
        <form id="visitForm" action="/employee" method="post">
            <h2>Compila i dati anagrafici</h2>

            <div class="anagraf">
                <div class="anagraf-input">
                    <label>Nome e cognome</label>
                    <input type="text" name = "nameSurname" placeholder="Mario Bianchi" required="required">
                </div>

                <div class="anagraf-input">
                    <label>Numero di telefono</label>
                    <input type="tel" name = "phoneNumber" placeholder="+01 234 567 8910" required="required">
                </div>

                <div class="anagraf-input">
                    <label>Email</label>
                    <input type="email" name = "email" placeholder="mario01@gmail.com" required="required">
                </div>

                <div class="anagraf-input">
                    <label>Codice fiscale</label>
                    <input type="text" name = "fiscalCode" placeholder="MRABNCH02M16Z139V" required="required">
                </div>
            </div>

            <h2>Dettagli della visita</h2>

            <div class="dates">
                <div class="anagraf-input">
                    <label>Data visita</label>
                    <input type="date" name= "dateVisit" id="date" required="required">
                </div>

                <div class="dates-row">
                    <div class="anagraf-input">
                        <label>Orario inizio</label>
                        <input type="time" name = "startTime" required="required">
                    </div>

                    <div class="anagraf-input">
                        <label>Orario fine</label>
                        <input type="time" name = "endTime" required="required">
                    </div>
                </div>
            </div>

            <button class="button" type="submit">Prenota</button>
        </form>
    </div>
</section>

</body>
</html>
