<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reception</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="container">
    <div class="container">
        <h2>Visite</h2>
        <div class="visite">
            {#for x in visit}
                <div class="visita">
                    <p>{x}</p>
                </div>
            {/for}

            <div class="visita">
                <span>9:00 - 10:00 | Visitatore: Luca Rossi | Stato: <span class="stato">Non iniziata</span> | Badge: <span class="badge">Non assegnato</span></span>
                <div class="badge-selector">
                    <div class="badge-circle" onclick="selezionaBadge(this, 1)">1</div>
                    <div class="badge-circle" onclick="selezionaBadge(this, 2)">2</div>
                    <div class="badge-circle" onclick="selezionaBadge(this, 3)">3</div>
                </div>
                <button class="avvia" onclick="avviaVisita(this)">Avvia</button>
            </div>
            <div class="visita">
                <span>9:00 - 10:00 | Visitatore: Luca Rossi | Stato: <span class="stato">Iniziata</span> | Badge: <span class="badge">1</span></span>
                <button class="termina" onclick="terminaVisita(this)">Termina</button>
            </div>

        </div>
        <h2>Dipendenti</h2>
        <div class="dipendenti">
            <div class="dipendenti-grid">
                <div class="dipendente">Dipendente<br>Luca Rossi</div>
                <div class="dipendente">Dipendente<br>Luca Rossi</div>
                <div class="dipendente">Dipendente<br>Luca Rossi</div>
                <div class="dipendente">Dipendente<br>Luca Rossi</div>
            </div>
        </div>
    </div>
</div>

<script>
    function selezionaBadge(element, numero) {
        let visita = element.closest(".visita");
        let stato = visita.querySelector(".stato").innerText;
        let badgeText = visita.querySelector(".badge");
        if (stato === "Non iniziata") {
            badgeText.innerText = numero;
        }
    }
    function avviaVisita(button) {
        let visita = button.parentElement;
        visita.querySelector(".stato").innerText = "Iniziata";
        button.classList.remove("avvia");
        button.classList.add("termina");
        button.innerText = "Termina";
        button.setAttribute("onclick", "terminaVisita(this)");
    }

    function terminaVisita(button) {
        let visita = button.parentElement;
        visita.querySelector(".stato").innerText = "Terminata";
        button.style.display = "none";
    }
</script>
</body>
</html>